.cover {
    margin: auto;
    width: 100%;
    max-width: 1184px;
    margin-bottom: 82px;
    background: url(../../../images/naSobakah768.png) no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.cover:hover {
    box-shadow: 0 0 0 642px rgba(0, 0, 0, 0.33) inset;
}

.cover__link {
    text-decoration: none;
    color: #FFFDFD
}

@media screen and (max-width: 425px) {
    .cover {
        margin-bottom: 0;
    }
}