.intro__text {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    font-family: 'Inter-Regular';
    font-size: 13px;
}

.intro__span-bold {
    font-family: 'Inter-Bold';
    font-size: 13px;
    line-height: 20px;
    border: 0;
}

@media screen and (max-width: 425px) {
    .intro__text {
        font-size: 10px;
    }
    .intro__span-bold {
        font-size: 10px;
        line-height: 14px;
    }
}