.video__duration {
    font-family: 'Inter-Medium';
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    margin-top: 94px;
    margin-bottom: 12px;
    margin-left: 30px;
}

@media screen and (max-width: 425px) {
    .video__duration {
        padding-top: 20%;
        padding-left: 5%;
        padding-bottom: 3%;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
    }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
    .video__duration {
        padding-top: 20%;
        padding-bottom: 3%;
        margin-top: 0;
        margin-bottom: 0;
    }
}